*.DS_Store

*.class

# Package Files #
*.jar
*.war
*.ear

.idea
*.iml

# Eclipse files
.project
.classpath
.settings

# Idea files
*.ipr
*.iws


# Mvn target 
target/

# Velocity log files
velocity.log*

# vim swap files
*.swp

*-repo

# IDE files #
*.ipr
*.iws
*.iml
.idea
.project

**/idea/**
*.class
**/lib/**
